<h1>Angular - nomes</h1>

<p>
  Montar cadastro de nomes e tabela com os nomes inseridos ao final.
</p>

<p>
  Cada item da tabela deve ter um botão para excluir o nome.
</p>

<p>Obs: o componente já está implementado.</p>
